@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.meal-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    background-size: cover;
}

.meal-card {
    background-color: #f6c56e;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 20px;
}

.meal-heading {
    font-family: Bree Serif;
    color: #323f4b;
}

.meal-paragraph {
    font-family: roboto;
    color: #323f4b;
    font-weight: bold;
}

.meal-button {
    background-color: #ffffff;
    border-width: 0px;
    height: 36px;
    width: 140px;
    border-radius: 10px;
}