@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.e-bg {
    background-color: #f9fbfe;
}

.e-main-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}

.e-product-card1-bg {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png');
    background-size: cover;
    height: 60vh;
    border-radius: 15px;
    padding: 15px;
}

.e-product-card-head {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: bold;
}

.e-product-card-desc {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 15px;
}

.custom-buttom {
    height: 40px;
    width: 110px;
    color: #ff9f00;
    background-color: #ffffff;
    border-width: 0px;
    font-family: "Roboto";
    border-radius: 20px;
    font-size: 13px;
}

.e-product-card2-bg {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png');
    background-size: cover;
    height: 60vh;
    border-radius: 15px;
    padding: 15px;
}

.product-item-link {
    color: #ff9f00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}

.epr-head {
    font-size: 14px;
    font-family: "Roboto";
}

.epr-head2 {
    font-size: 12px;
    font-weight: 200;
    font-family: "Roboto";
}

.epr-des {
    font-weight: bold;
}